<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="">	
    <meta name="viewport" content="width=device-width" />	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />   
   
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <script>
        var app = angular.module('app', []);

        var firstmeasurement = 1;
        var secondmeasurement = 1.5;

        var initalweightmes;
        var secondweightmes;

        app.controller('Foo', function ($scope, $element) {
			
            $scope.setUnit = function(e) {
                console.log(e);
            };
			
			$scope.calculateWeight = {
				one: {
					amount: 0,
					type: "",
					measurement: 0
				},
				two: {
					amount: 0,
					type: "",
					measurement: 0
				},
				
				calculateWeightChange: function(e) {
					this.one.amount = e;
					this.two.amount = this.one.amount;
				},
				
				setWeightScaleOne: function(e) {
					this.one.measurement = e.target.dataset.weight;
					this.one.type = e.currentTarget.innerHTML;
					
					console.log(this.one);
				}
			
			};
        });    
    </script>    
    
    
</head>
    
<body> 
    <header id="main-header">
        <div class="banner-holder">
            <div data-toggle="modal" data-target="#detailsModal" class="main-logo"></div>
        </div>
    </header>
    
    <div ng-app="app" class="central-holder">
        <main id="main-main">
            <div id="main-content-holder">
                <div id="main-content-header">
                    <div href="#a" data-toggle="tab" class="type-button">
                        <span class="fa fa-balance-scale" aria-hidden="true"></span>
                    </div> 
                    <div href="#b" data-toggle="tab" class="type-button">
                        <span class="fa fa-arrows-h" aria-hidden="true"></span>
                    </div> 
                    <div href="#c" data-toggle="tab" class="type-button">
                        <span class="fa fa-thermometer-three-quarters" aria-hidden="true"></span>
                    </div>
                </div>

                <hr>

                <div id="main-content-main">

                    <div class="tab-content">
                        <div ng-controller="Foo" class="tab-pane active" id="a">
                            <div class="main-input-holder">
                                <input type="number" id="initalfield1" class="main-input" ng-model='calculateWeight.one.amount' ng-change='calculateWeight.calculateWeightChange(calculateWeight.one.amount)' min="0" /> 
                                <div data-toggle="modal" data-target="#weightModal" class="type-button" ng-click="setUnit(false)"></div>
                            </div>

                            <span class="input-divider glyphicon glyphicon-retweet" aria-hidden="true"></span>
                            
                            <div class="main-input-holder">
                                <input type="number" id="finalfield1" class="main-input" ng-model='calculateWeight.two.amount' min="0" />
                                <div data-toggle="modal" data-target="#weightModal" class="type-button" ng-click="setUnit(true)"></div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="b">
                            <div class="main-input-holder">
                                <input type="number" id="initalfield2" class="main-input" ng-model='project.inital' min="0" /> 
                                <div data-toggle="modal" data-target="#tempModal" class="type-button"></div>
                            </div>

                            <span class="input-divider glyphicon glyphicon-retweet" aria-hidden="true"></span>
                            
                            <div class="main-input-holder">
                                <input type="number" id="finalfield2" class="main-input" ng-model='project.calculated' min="0" /> 
                                <div data-toggle="modal" data-target="#tempModal" class="type-button"></div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="c">
                            <div class="main-input-holder">
                                <input type="number" id="initalfield3" class="main-input" ng-model='project.inital' min="0" /> 
                                <div data-toggle="modal" data-target="#distanceModal" class="type-button" ></div>
                            </div>

                            <span class="input-divider glyphicon glyphicon-retweet" aria-hidden="true"></span>
                            
                            <div class="main-input-holder">
                                <input type="number" id="finalfield3" class="main-input" ng-model='project.calculated' min="0" /> 
                                <div data-toggle="modal" data-target="#distanceModal" class="type-button"></div>
                            </div>
                        </div>   
                    </div>
                    
                </div>
            
            </div>
        </main>
        
        <!-- Weight Modal -->
        <div class="modal fade in" id="weightModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="modal-exit btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="fa fa-balance-scale" aria-hidden="true"></span>weights</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div ng-controller="Foo" class="container-fluid">
                            <div class="row">
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-dismiss="modal" ng-click="calculateWeight.setWeightScaleOne($event)" data-weight="0.0001">mg</div>
                                </div>                                
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-dismiss="modal" ng-click="calculateWeight.setWeightScaleOne($event)" data-weight="0.001">g</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-dismiss="modal" ng-click="calculateWeight.setWeightScaleOne($event)" data-weight="1">kg</div>
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="2.20462">lb</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="1000">T</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="35.274">O<sub>z</sub></div>
                                </div>                                
                            
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="">tbsp.</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="">tsb.</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" data-dismiss="modal" data-value="">pt.</div>
                                </div>                                
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        <!-- Temperature Modal -->
        <div class="modal fade" id="tempModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="modal-exit btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="fa fa-arrows-h" aria-hidden="true"></span>lengths</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">mm</div>
                                </div>                                
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">cm</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">m</div>
                                </div>

                            </div>
                            
                            <div class="row">
  
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">km</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">m</div>
                                </div>
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">mi.</div>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <!-- Distance Modal -->
        <div class="modal fade" id="distanceModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="modal-exit btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="fa fa-thermometer-three-quarters" aria-hidden="true"></span>temperatures</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                
                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">℃</div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="type-button" data-weight="" ng-click="">℉</div>
                                </div>  
                                
                                <div class="col-sm-2"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <!-- Settings Modal -->
        <div class="modal fade in" id="settingsModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="modal-exit btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="fa fa-cogs" aria-hidden="true"></span>settings</h4>
                    </div>
                    
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>           
        
        <!-- Detail Modal -->
        <div class="modal fade in" id="detailsModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="modal-exit btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="fa fa-info-circle" aria-hidden="true"></span>details</h4>
                    </div>
                    
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>  
        
    </div>
    
    <footer class="footer">
        <div class="banner-holder">
            <div href="#a" data-toggle="tab" class="type-button">
                <span class="fa fa-github" aria-hidden="true"></span>
            </div> 
            
            <div href="#a" data-toggle="tab" class="type-button">
                <span data-toggle="modal" data-target="#settingsModal" class="fa fa-cogs" aria-hidden="true"></span>
            </div> 
        </div>
    </footer>  
    
</body>  
    
</html>